src/main/mule/firstdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="802961f5-2501-47e6-b307-eea6c015686a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="democicdFlow" doc:id="860a3cbe-96f0-41f9-b762-ea75e137ec43" >
		<http:listener doc:name="Listener" doc:id="fcdba48f-5e8c-479e-b1d3-33cd3d75797e" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e3bfa1a8-54f4-4ccb-9ee3-f082f2a144ea" />
		<logger level="INFO" doc:name="Logger" doc:id="6856a921-1804-474e-8590-a562b20cf0b2" message="demo2"/>
		<logger level="INFO" doc:name="Logger" doc:id="6be1b83a-3e2e-4c25-9f3f-f4dafe4ad11f" message="democicdcheckinck"/>
	</flow>
</mule>
